.about {
	background-color: aquamarine;
}

.template div {
	width: 350px;
	height: 150px;
	background-color: navy;
}

@keyframes bounce {
	from {
		transform: translateY(0) scale(1);
	}
	to {
		transform: translateY(450px) scale(1, 0.7);
	}
}
.template {
	background-color: red;

	animation-name: bounce;
	animation-duration: 0.5s;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	animation-iteration-count: 5;
}
