.button {
	display: inline-block;

	box-sizing: border-box;
	padding: 10px;

	cursor: pointer;
	text-align: center;
	border: 0;
	border-radius: 5px;

	font-size: 14px;

	transition: all 200ms;
}
.primary {
	color: var(--white);
	background-color: var(--primary);
}
.primary svg {
	fill: var(--white);
}
.primary:hover {
	filter: hue-rotate(-5deg) drop-shadow(2px 4px 6px var(--black));
}
.ghost {
	color: var(--black);
	background: none;
	border: 1px solid var(--primary);
}
.ghost:hover {
	color: var(--white);
	background-color: var(--primary);
	filter: drop-shadow(2px 4px 6px var(--black));
	border: none;
}
.ghost:hover svg {
	fill: var(--white);
}

.arrow {
	display: inline-block;
	margin-left: 10px;
}
.down {
	transform: rotate(90deg);
	transition: all 200ms;
}
